*{
    margin: 0;
    padding: 0;
}

.cabecalho {
padding: 15px 25px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #24f0ff;
  }

.cartao {
    width:   260px;
    height: 200px;
}
.cartao-imagem{
    width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
main{
    flex: 1;
}

.cabecalho-link{
    color:rgb(0, 174, 255)
}
h1{
    color:rgb(15, 13, 148)
}
footer{
    background-color: rgb(108, 255, 211);
    padding: 15px 25px;
    color: rgb(0, 45, 112);
}